<!DOCTYPE html>
<html lang="ja">
<%- include('./base/_header') %>
<body>
    <header role="banner">
        ヘッダー
        <nav role="navigation"></nav>
    </header>
    <main id="main" role="main">
        メインコンテンツ
    </main>
    <footer>
        フッター
    </footer>
    <%- include('./base/_footer') %>
</body>
</html>